.location{
    background-color: rgb(7, 85, 33);
    padding: 20px;
    margin: 35px 0;
    border-radius: 12px;

}
.location__title{
    text-align: center;
    margin-bottom: 20px;
    color: #7AB823;
}.location__list{
    font-size: 15px;
    display: flex; 
    flex-wrap: wrap;
    gap: 15px,
}
.location__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: gray;
}
.location__item span{
    font-size: 15px;
    color:white;
    font-weight: 600;
}
