.resident{
    background-color: rgb(6, 43, 9);
    width: 220px;
    border-radius: 10px;
    overflow: hidden;
}
.resident__photo {
    position: relative;
}
.resident__status {
    background-color:rgb(6, 43, 9) ;
    position: absolute;
    top:10%;
    padding:3px 6px;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
.resident__circle{
    background-color: red;
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
}
.Dead{
    background-color: red;
}
.Alive{
    background-color: green;
}
.resident__name{
    text-align: center;
    margin: 15px 0;
}
.resident hr{
    border: 1px solid gray;
    width: 85%;
    margin: 0 auto;
}
.resident__list{
    padding: 10px;
}
.resident__item{
    display: flex;
    flex-direction: column;
    margin: 7px 0;
}
.resident__item span:first-child{
    padding-left: 20px;
    color: gray;
}